<ul class="mh-menu">
	<li>
		<a href="#/login">
			<span>Login</span>
		</a>
		<div class="permahover">
			<div class="loginwrapper"> {{ login.error }}
				<form class="login"><input type="hidden" name="login" value="login" />
					<input type="text" placeholder="Username" maxlength="20" ng-model="user_name" autofocus /> <i class="fa fa-user"></i> 
					<input type="password" ng-model="pass_main" placeholder="Password" maxlength="40" /> <i class="fa fa-key"></i> 
					<a id="forgotpass" href="#">Forgot your password?</a>
					<button ng-click="checkCred()">
						<i class="spinner"></i> 
						<span class="state" >Check Credintials</span>
					</button>
				</form>
			</div>
		</div>
	</li>
	<li>
		<a href="#/register">
			<span>Create Account</span>
		</a>
	</li>
	<li>
		<a href="#/earnway">
			<span>Earn Your Way</span>
		</a>
	</li>
</ul>